@charset "utf-8";

pre {
	background-color : #FFE3EE;
	font-size : 1.2em;
	white-space: pre-wrap; /* 우측 여백 고정, 넘치는 글자 줄바꿈 */
	
	/* 
	pre : 공백은 그대로, 줄바꿈 X
	pre-wrap : 공백은 그대로, 줄바꿈 O
	pre-line : 공백을 여러개줘도 하나만 표시, 줄바꿈 O
	nowrap : 공백을 여러개줘도 하나만 표시, 줄바꿈 X
	 */
}

div.box{
	width : 90%;
	height: auto;
	margin: 10px;
	padding: 20px;
	border: 1px solid gray;
	background: #FFCAD5;
}

.box input[type = button]{
	width: auto;
	height: 30px;
	background: #008C8C;
	color : white;
	padding: 5px 10px;
	border-radius : 10px;
	font-size: 1.1em;  
}

.box div{
	width : 80%;
	height: auto;
	padding: 10px;
	border: 3px dotted gray;
	margin: 20px;
}



